body  {

}

#greenCompanyName  {
  color: MediumAquaMarine;
  align-items: center;
  padding: 10px;
}

#whiteCompanyName  {
  color: white;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-right: solid white 2px;
}



header  {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  color: black
  font-family: verdana;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100px;
  border-bottom: solid black 1px;
}

.logo  {
  display: flex;
  align-items: center;
  width: 25%;
  margin: 20px;
  padding: 10px;
}

nav.headnav  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  margin: 20px;
}

nav.footernav  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

nav span a {
  padding: 10px;
  color: black;
}

.content  {
  display: flex;
}

.col1  {
  width: 50%;
}

.col2  {
  width: 25%;
  padding: 2%;
}

.col3  {
  width: 25%;
}

footer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 325px;
  width: 100%;
  background-color: MediumAquamarine;
  margin-top: 20px;

}

.mainstory  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
}

.picannotate  {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 100%;
  height: 300px;
  margin-top: 5%;
}

.picannotate2  {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  width: 100%;
  height: 300px;
  margin-top: 5%;
}

#strapline  {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: white;
  text-align: left;
  font-weight: bold;
  width: 90%;
  padding-left: 20px;
}

.mainsub  {
  display: flex;
}


.subtext h2  {
  font-size: 25px;
  font-weight: bold;
  font-family: Georgia;
  padding: 5px;
}

.subtext p  {
  padding: 5px;
}

.picsub  {
  display: flex;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.pic1  {
  width: 48%;
  padding 2px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.pic2  {
  padding: 2px;
  width: 48%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

#cookie  {
  text-align: center;
  padding: 11px 20px;
}

.sidebar  {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 70%;
  padding: 11px 20px;
}


.sidebar span  {
  display: block;
  text-align: left;
  font-size: 12px;
  color: DimGray;
  border-bottom: solid black 1px;
  width: 100%;
  padding: 11px 20px;
  background-color: whitesmoke;

}

#lastline  {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
