body {

}

#green  {
  color: MediumAquaMarine;
  align-items: center;
  padding: 10px;
}

header  {
  display: flex;
  justify-content: space-between;
  border: solid black 1px;
  color: black
  font-family: verdana;
  font-size: 16px;
  font-weight: bold;
}

.logo  {
  display: flex;
  align-items: center;
  width: 25%;
  border: solid black 1px;
  margin: 20px;
  padding: 10px;
}

nav  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: solid black 1px;
  width: 75%;
  margin: 20px;

}

nav span a {
  padding: 10px;
  color: black;
}

.mainstory  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
  margin-left: 10%;
  border: solid black 1px;

}

.picannotate  {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 100%;
  height: 300px;
  margin-top: 5%;
}

#strapline  {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: white;
  text-align: left;
  font-weight: bold;
  width: 90%;
  padding-left: 20px;
}

.mainsub  {
  display: flex;
}

.picsub  {
  display: flex;
}

.sub h2  {
  font-size: 25px;
  font-weight: bold;
  font-family: Georgia;
  padding: 5px;
}

.sub p  {
  padding: 5px;
}

.sub  {
  border: solid black 1px;
}
